body {
    font-family:'Montserrat', sans-serif;
    color: #000000;
    background: url(fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}
#contenedor{    
    width: 900px;
    height: 500px;
    text-align: center;
    
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  }
#calculadora{
    background: white;
    
    width: 50%;
    height: 100%;
    float: left;
}

#detalle{
    background: rgb(191,154,114);
    background: linear-gradient(180deg, rgba(191,154,114,1) 0%, rgba(180,137,90,1) 49%, rgba(218,193,166,1) 93%);

    width: 50%;
    height: 100%;
    float: left;
    color: #f6f5f7;
}
.contenido{
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
    
}
.titulo{
    font-size: 2.5em;
}
#detalle .contenido{
    text-align: justify;
}
.contenido h1 {
    margin-left: 30px;
    text-align: justify;
}
input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
    margin-bottom: 15px;
}

button {
  font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	 background: rgb(191,154,114);
    background: linear-gradient(180deg, rgba(191,154,114,1) 0%, rgba(180,137,90,1) 49%, rgba(218,193,166,1) 93%);
	border: 1px solid #bfa180;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
}

button:active {
	transform: scale(0.95);
}

#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #17d03cb9;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
    text-align: justify;
    margin-left: 25px;
... (1 line left)